<% id =  SecureRandom.alphanumeric(10) %>
<div id="app_<%=id %>">

<el-container>
  <el-main>
    <%= data %>
  </el-main>
</el-container>

</div>

<script>
  Vue.use(VueChartkick.use(Chart))

  app = new Vue({
    el: '#app_<%=id %>',
  })
</script>
